{% extends "layout.html" %}

{% block title %}Restaurar contraseña{% endblock %}

{% block header %}{% endblock %}

{% block navbar %}{{ super() }}{% endblock %}

{% block content %}

<section class="bg black-overlay">
    <div class="container my-5 py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-3 mt-md-3 pb-4">

                <h2 class="fw-bold mb-2 text-uppercase">MENUDA MEMORIA</h2>
                <p class="text-white-50 mb-5">Anda, pon tu correo.<br> Te mandaremos un email para que escojas una contraseña nueva.<br><br><span class="small">Ya te vale</span></p>

                <!-- Flash messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="{{ url_for('public.reset_password') }}" method="post">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                    {{ form.email.label }}: {{ form.email (class="form-control form-control-lg")}}
                  </div>

                  <!-- Security token -->
                  {{ form.csrf_token }}
                </div>

                <!-- Submit button -->
                {{ form.submit(class_="btn btn-danger btn-block mb-4") }}

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}

{% block footer %}{% endblock %}