{% extends "/email/layout_email_compatible.html" %}

{% block dialogue_avatar %}
    <!-- NORMAL VAMPIRO DRIVE -->
    <img src="https://drive.google.com/file/d/1mi4cBxa-ing-i49EivQA51Sjs_chMaVW/view?usp=sharing"
    alt="Retrato de vampiro" class="image-style">
{% endblock %}


{% block dialogue_text %}
    <p>{{ user.name }}<br>Casi estás registrado. Una vez confirmes tu cuenta te podremos mandar avisos sobre partidas por si quieres unirte y actualizaciones del juego.<br>¡A cazar!</p>
{% endblock %}


{% block action_button%}
<p>Haz click en el botón para confirmar tu cuenta.</p>

<a href="{{ url_for('public.confirm', token=token, _external=True) }}" style="text-decoration: none; color: white;">
    <div class="button">
        <p>¡Me rugen las tripas!</p>
    </div>
</a>

<p id="anotacion">Si no has solicitado este correo puedes ignorarlo</p>
{% endblock %}