{% extends "/email/layout_email_compatible.html" %}

{% block dialogue_avatar %}
    <img src="{{ url_for('static', filename='img/vampiro/molesto.png') }}"
    alt="Retrato de vampiro" class="image-style">
{% endblock %}


{% block dialogue_text %}
    <p>Hola {{ user.name }}<br>Debería beber hasta la última gota de tu sangre por liarla así...<br>En el botón de abajo puedes enmendar tu error con una contraseña nueva, ¡pero que no vuelva a ocurrir!</p>
{% endblock %}

{% block action_button%}
<p>Haz click en el botón para cambiar tu contraseña.</p>

<a href="{{ url_for('public.reset_password_token', token=token, _external=True) }}" style="text-decoration: none; color: white;">
    <div class="button">
        <p>¡Volver a la web!</p>
    </div>
</a>

<p id="anotacion">Si no has solicitado este correo puedes ignorarlo</p>
{% endblock %}
