{% extends "/email/layout_email_compatible.html" %}

{% block dialogue_avatar %}
    <img src="{{ url_for('static', filename='img/vampiro/normal.png') }}"
    alt="Retrato de vampiro" class="image-style">
{% endblock %}


{% block dialogue_text %}
    <p>{{ player.user.name }}<br>Sonaron las campanadas de las doce, y sin que pudiese siquiera verte con claridad, en un movimiento casi imperceptible, abandonaste un cuerpo vacío en la oscuridad.</p>
{% endblock %}

{% block action_button %}
    <p>Has ganado el duelo de medianoche. Tienes un nuevo objetivo en tu perfil.</p>
{% endblock %}