{% extends "/email/layout_email_compatible.html" %}

{% block dialogue_avatar %}
    <!-- MOLESTO VAMPIRO BB IMAGE -->
    <img src="https://i.ibb.co/PCfY1JB/molesto.png"
    alt="Retrato de vampiro" class="image-style">
{% endblock %}


{% block dialogue_text %}
    <p>{{ player.user.name }}<br>No recuerdas como ocurrió, pero cuando volviste a abrir los ojos estabas herido y con un gran corte en el torso. Aún así, brillaba en tus ojos la determinación de venganza.</p>
{% endblock %}

{% block action_button %}
    <p id="anotacion">Has perdido el duelo de medianoche. Tu víctima se mantiene, el intento de asesinato es oficialmente fallido. Deberás arreglartelas si quieres comer una vez más.</p>
{% endblock %}