{% extends "/email/layout_email_compatible.html" %}

{% block dialogue_avatar %}
    <!-- NORMAL VAMPIRO BB IMAGE -->
    <img src="https://i.ibb.co/fCq4ydL/normal.png"
    alt="Retrato de vampiro" class="image-style">
{% endblock %}


{% block dialogue_text %}
    <p>{{ player.user.name }}<br>Una vez retumbaron las campanas de media noche, viste acercarse a quien poco antes intentó matarte. Con velocidad lo dejaste herido, inmóvil en cuestión de segundos. Es posible que vuelva a intentar hacerte daño... pero ahora podrás estar atento.</p>
{% endblock %}

{% block action_button %}
    <p id="anotacion">Has ganado el duelo de medianoche, el intento de asesinato es oficialmente fallido. Ahora cuentas con la ventaja de conocer a tu cazador.</p>
{% endblock %}