{% extends "/email/layout_email_compatible.html" %}

{% block dialogue_avatar %}
    <!-- MOLESTO VAMPIRO DRIVE -->
    <img src="https://drive.google.com/file/d/1kS3Uh1Z7CJSzyZmRAZmI6FreUuImuC1v/view?usp=sharing"
    alt="Retrato de vampiro" class="image-style">
{% endblock %}


{% block dialogue_text %}
    <p>La oscuridad invadió los pasillos del Chaminade.<br>Lo que una vez fueron bestias sedientas ahora vagan sus recovecos como espíritus sin guía ni destino.<br>Esta vez, la maldición ha ganado.</p>
{% endblock %}

{% block action_button %}
    <h2> Nadie ha ganado </h2>
    <p>En las últimas dos semanas no ha habido una sola muerte (flipa).<br>Inés escribió este correo en su momento con la esperanza de nunca mandarlo.<br>Una lástima, pero hay que ponerse más las pilas.</p>
{% endblock %}