{% extends "/email/layout_email_compatible.html" %}

{% block dialogue_avatar %}
    <!-- NORMAL VAMPIRO BB IMAGE -->
    <img src="https://i.ibb.co/fCq4ydL/normal.png"
    alt="Retrato de vampiro" class="image-style">
{% endblock %}


{% block dialogue_text %}
    <p>{{ player.user.name }}<br>Ya se ha cerrado todo.<br>Tus instintos más primarios te llaman, no es momento de esperas. <br> Ha llegado la hora de cazar.</p>
{% endblock %}

{% block action_button %}
    <p id="anotacion">Para más información sobre el juego revisa tu perfil en la web.</p>
{% endblock %}