

{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block header %}
              <!-- Header Image -->
              <img src="{{ url_for('static', filename='img/email_header.png') }}" class="img-fluid" alt="El vampiro, título sobre fondo de cementerio">


{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<section style="background-color: #130b15; position: relative; clear: both; padding: 20px;">
    <div style="position: relative; height: 100px;">
        <div style="position: absolute; right: 0; bottom: 0; color: white; padding: 10px;">
            <a href="mailto:auladejuegos@gmail.com" style="color: #a7a7a7;">auladejuegos@gmail.com</a>
            <img src="{{ url_for('static', filename='img/logo_juegos_pequeñito.png') }}" alt="Aula de juegos logo" style="height: 100px;">
        </div>
    </div>
</section>
{% endblock %}