{% extends "/email/layout_email_compatible.html" %}

{% block dialogue_avatar %}
    <!-- NORMAL VAMPIRO DRIVE -->
    <img src="https://drive.google.com/file/d/1mi4cBxa-ing-i49EivQA51Sjs_chMaVW/view?usp=sharing"
    alt="Retrato de vampiro" class="image-style">
{% endblock %}


{% block dialogue_text %}
    <p>{{ player.user.name }}<br>Ha caído el sol y comienza una nueva noche.<br>Como Edward de crepúsculo, solo puedes pensar en el olor de la sangre de uno de los colegiales.<br>Tus ojos están fijos en: {{prey.user.name}} <br> Habitación: {{prey.user.room}}</p>
{% endblock %}

{% block action_button %}
    <p>Para más información sobre el juego revisa tu perfil en la web.</p>
{% endblock %}