{% extends "/email/layout_email_compatible.html" %}

{% block dialogue_avatar %}
    <!-- MOLESTO VAMPIRO DRIVE -->
    <img src="https://drive.google.com/file/d/1kS3Uh1Z7CJSzyZmRAZmI6FreUuImuC1v/view?usp=sharing"
    alt="Retrato de vampiro" class="image-style">
{% endblock %}


{% block dialogue_text %}
    <p>{{ player.user.name }}<br>Desde esta noche, acecharás por siempre desde la penumbra. Ha llegado tu trágico final, vagar etérnamente como espíritu compungido.</p>
{% endblock %}

{% block action_button %}
    <p>Has muerto por asesinato, aquí termina tu partida.<br>¡Gracias por jugar!</p>
{% endblock %}