{% extends "layout.html" %}

{% block title %}Partida actual{% endblock %}

{% block header %}{% endblock %}

{% block navbar %}{{ super() }}{% endblock %}

{% block content %}

<section class="bg black-overlay">
    <div class="container my-5 py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">

          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-3 text-center">

              <div class="mb-md-5 mt-md-4 pb-3">

                <h1 class="m-2 p-3 pixel-text">CURRENT SETTINGS</h1>

                <p class="m-2 p-3 h4 pixel-text"> Modo de la web: {{ game_mode }}</p>
                <p class="m-2 p-3 h4 pixel-text"> Estado de la partida: {{ game_status }} </p>



                <h1 class="m-2 p-3 pixel-text">GAME STATS</h1>

                <p class="m-2 p-3 h4 pixel-text"> Vampiros vivos: {{ jugadores_vivos }} <br> Ronda actual: {{ ronda_actual }} <br> Muertos esta ronda: {{ muertos_ronda }} </p>
              
                
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
</section>

{% endblock %}

{% block footer %}{% endblock %}