{% extends "layout.html" %}
{% from "macros.html" import nav_link, login_logout_link %}

{% block title %}{% endblock %}

{% block header %}{% endblock %}

{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('public.home')}}"><img src="{{ url_for('static', filename='img/logo_juegos_pequeñito.png') }}" width="60" height="60" class="d-inline-block align-top" alt="Logo del aula de juegos"></span>
    <a class="navbar-brand mb-0 h1" href="{{ url_for('public.home')}}">Vampiro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{ nav_link('public.home', 'Home') }}
        </li>
        <li class="nav-item">
          {{ nav_link('public.cronicas', 'Crónicas') }}
        </li>
        <li class="nav-item">
          {{ nav_link('public.normas', 'Normas') }}
          </li>
        <li class="nav-item">
        {{ nav_link('admin.cronicas', 'Nueva Crónica') }}
        </li>
        <li class="nav-item">
        {{ nav_link('admin.disputas', 'Disputas') }}
        </li>
        <li class="nav-item">
        {{ nav_link('admin.settings', 'Ajustes') }}
        </li>
      </ul>
    </div>
    <div>
        {{ login_logout_link(current_user)}}
    </div>
  </nav>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}