

{% extends "/public/layout_public.html" %}

{% block title %}Activación de cuenta{% endblock %}

{% block header %}{% endblock %}

{% block navbar %}{{ super() }}{% endblock %}

{% block content %}

<section class="bg black-overlay">
    <div class="container my-5 py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4 pb-5">

                <!-- FLASH MESSAGES -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show " role="alert">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}


                <h1>¡Ya casi está!</h1>
                <br>
                <p>Solo te queda confirmar tu correo. Por favor comprueba tu bandeja de entrada (y tu carpeta de spam) - deberías haber recibido un correo con un enlace de confirmación.</p>
                <p>¿No te ha llegado el correo? Prueba otra vez.</p>
                
                <form action="{{ url_for('public.resend_confirmation') }}" method="post">
                  <!-- Email input -->
                  <div class="form-outline form-white">
                      {{ form.email.label }}: {{ form.email (class="form-control form-control-lg")}}
                    </div>
  
                    <!-- Security token -->
                    {{ form.csrf_token }}
                  </div>
  
                  <!-- Submit button -->
                  {{ form.submit(class_="btn btn-danger btn-block mb-4") }}
                  </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}

{% block footer %}{% endblock %}